{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon"type="image/png"href="{% static '/data/icon.png' %}"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <title>{% block title %} {{title}} {% endblock %}</title>
    {% block static_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/input.css' %}"/>
    {% endblock static_css %}
  </head>

  <body id="body-pd">
    {% block navbar %} {% include 'components/navbar.html' %} {% endblock navbar %}

    {% block content %}{% endblock content %}

    {% block static_js %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock static_js %} {% block footer %}{% endblock footer %}
  </body>
</html>
